# VS Code configuration file
#######################################
.vscode/

# Compiled file 
#######################################
build/

# Bochs file
#######################################
*.img
*.img.lock
*.ini